asn1crypto==0.24.0
cryptography==2.1.4
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
monotonic==1.0
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
